<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ООО "Аннуитет"</title>

    <!--<link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>

    <!--<script th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>-->
    <!--<script th:src="@{/lib/popper/popper.min.js}"></script>-->
    <!--<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Меню</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">На главную</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" onclick="window.location='/loan/create'">Создать запрос</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" onclick="window.location='/loan/requests'">Просмотреть все</a>
                </li>
            </ul>
        </div>
    </nav>

    <h2 class="text-center">ООО "Аннуитет"</h2>
    <h3 class="text-center">Фиксированная процентная ставка: 11%!</h3>
</body>
</html>