<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Request</title>

    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>

    <script th:src="@{/lib/jquery/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/lib/popper/popper.min.js}"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/input.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Меню</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" onclick="window.location='/loan'">На главную</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link">Создать запрос</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" onclick="window.location='/loan/requests'">Просмотреть все</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--/*@thymesVar id="request" type="loan.model.Request"*/-->
    <form th:action="@{/save}" th:method="${request.getId() != null} ? 'PUT' : 'POST'"
          th:id="${request.getId() == null} ? 'post'" th:object="${request}">
        <div class="row">
            <div class="col-sm-4 m-2">
                <div class="form-group">
                    <label>Фамилия клиента</label>
                    <input th:value="${request.getId() != null} ? ${request.getClient().getSurname()}"
                           th:disabled="${request.getId() != null} ? 'disabled'" th:field="*{client.surname}"
                           type="text" required="required" placeholder="Фамилия" id="surname" class="form-control"
                           pattern="^[а-яА-Яa-zA-Z-]+$"/>
                </div>

                <div class="form-group">
                    <label>Имя клиента</label>
                    <input th:value="${request.getId() != null} ? ${request.getClient().getFirstName()}"
                           th:disabled="${request.getId() != null} ? 'disabled'" th:field="*{client.firstName}"
                           type="text" required="required" placeholder="Имя" id="name" class="form-control"
                           pattern="^[а-яА-Яa-zA-Z-]+$"/>
                </div>

                <div class="form-group">
                    <label>Номер ДУЛ клиента</label>
                    <input th:value="${request.getId() != null} ? ${request.getClient().getDocId()}"
                           th:disabled="${request.getId() != null} ? 'disabled'" th:field="*{client.docId}"
                           type="text" title="Паспорт: Паспорт РФ \ Загран. паспорт \ Дип. паспорт" required="required"
                           placeholder="Паспорт \ Военный билет" id="doc_id" class="form-control" pattern="[А-Я0-9]{9,}"/>
                </div>
            </div>

            <div class="col-sm-4 m-2">
                <div class="form-group">
                    <label>ID</label>
                    <input th:value="${request.getId() != null} ? ${request.getId()}"
                           type="text" title="ID заявки" disabled="disabled" id="id" class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Сумма</label>
                    <input th:value="${request.getId() != null} ? ${request.getSum()}" th:field="*{sum}"
                           type="text" title="Введите сумму в руб." required="required" placeholder="Руб." id="sum"
                           class="form-control" pattern="\d+(,\d{2})?"/>
                </div>

                <div class="form-group">
                    <label>Дата утверждения</label>
                    <input th:value="${request.getId() != null} ? ${request.getDate()}" th:field="*{date}"
                           th:min="${request.getId() == null} ? ''"
                           type="date" class="form-control" title="Дата заема" required="required" id="date"/>
                </div>

                <div class="form-group">
                    <label>Длительность</label>
                    <input th:value="${request.getId() != null} ? ${request.getDuration()}" th:field="*{duration}"
                           type="number" class="form-control" title="Не менее полугода" required="required"
                           placeholder="В месяцах" id="duration"/>
                </div>
            </div>
        </div>

        <button th:text="${request.getId() != null} ? 'Изменить' : 'Создать'"
                disabled="disabled" class="ml-3 btn btn-dark" id="submit" type="submit"></button>
    </form>
</body>
</html>